
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex{
    display: flex;
}
.box_cinza{
    background-color: #DDDDDD;
    padding: 1px;
}
#titulo{
    margin-left: 15px;
}
#listra{
    height: 20px;
    width: 100%;
}
.button{
    width: 30px;
    height: 10px;
    display: flex;
    align-items: center;
    background-color: #DDDDDD;
}
.img_button{
    width: 30px;
    height: 30px;
    margin: 3px;
}
.navigation_itens{
    margin: 5px;
    width: 24px;
    height: 24px;
}
.img_navigation{
    width: 24px;
    height: 24px;
}
.navigation_box{
    width: 24px;
    height: 24px;
}
#navigation_minorBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}
#navigation_box{
    padding: 10px;
}